[2015-06-19 13:00] lpil opened #1 "Rule: Trailing whitespace"

[2015-06-19 13:01] lpil opened #2 "Rule: EOF Newline"

[2015-06-19 13:01] lpil opened #3 "Rule: Variable name style"

[2015-06-19 13:06] lpil opened #4 "Mix task"

[2015-06-19 13:07] lpil opened #5 "Make rules configurable"

[2015-06-19 23:00] lpil opened #6 "Exit with non-zero status if offences detected"

[2015-06-19 23:01] #4 closed

[2015-06-19 23:02] lpil opened #7 "Simple Formatter: Colourise output!"
Colours are raaaad

[2015-06-19 23:03] lpil opened #8 "Syntastic compatible formatter"
And you know, Emacs flycheck too, I guess.

[2015-06-19 23:05] lpil opened #9 "LineLength Rule: customisable maximum length"
Some heathens don't believe in sticking to 80 columns.

[2015-06-19 23:35] lpil opened #10 "Rule: Disallow else with unless"

[2015-06-19 23:43] lpil opened #11 "Rule: AbcSize"
Scary warey

[2015-06-20 13:39] #1 closed

[2015-06-20 13:39] lpil opened #12 "Rule: TrailingWhitespace reports errors inside strings"
[code]

The second line is reported as an error, I don't think it should be. Rubocop has the same behaviour :(

Perhaps we should only disable it for triple quote strings `"""`. That'd probably be easier too.

[2015-06-20 14:28] #7 closed

[2015-06-20 14:48] #6 closed

[2015-06-20 19:08] #10 closed

[2015-06-20 19:20] lpil opened #13 "Rule: If Not"
Disallow this

[code]

and this

[code]

in favour of this

[code]

[2015-06-20 19:23] lpil opened #14 "Rule: Unless Not"
Disallow this

[code]

and this

[code]

in favour of this

[code]

Can share logic with IfNot (#13)

[2015-06-21 11:03] lpil opened #15 "Improve performance by not walking the AST multiple times"
Currently we run each rule in turn on each file. The results in walking the AST multiple times. We could lump all the AST walking rules together and walk the tree once, applying them to each node in turn.

Currently no one is using this linter, and performance is not yet an issue, so I'm going to focus on rules and usability for the mean time.

[2015-06-21 11:06] lpil opened #16 "Document basic installation and usage"

[2015-06-21 11:07] lpil opened #17 "Document rules available"

[2015-06-21 11:09] lpil opened #18 "Create an easily installable binary to go in $PATH"
Is it possible to have a hex package install and add a binary to $PATH?

Hell, is it possible to easily install a hex package outside of a mix project?

[2015-06-21 11:14] lpil opened #19 "Rule: Module name style"
CamelCase 4 lyfe

[2015-06-21 11:30] lpil opened #20 "Make available on hex.pm"

[2015-06-21 12:10] lpil commented on #20
Dooooone

[2015-06-21 12:10] #20 closed

[2015-06-21 15:02] lpil opened #22 "Rule: String Containing Quotes"
Inspired by @Joe-noh in #21 .

Prefer `~s("""\n)` over `"\"\"\"\n"`

[2015-06-21 15:09] lpil opened #23 "Rule: Sigil Delimiters"
We should pick a delimiter for sigils and stick to it unless the sigil contains that delimiter.

It feels like regexs should use `/`.

[2015-06-21 19:18] #2 closed

[2015-06-21 19:21] lpil opened #24 "Ensure that Rule.list contains all the rules"
It's easy to forget to add the rule to the list. Time for some metaprogramming. :)

Something to think about: We probably want to specify a list of rules that walk the AST only (see #15), so we'd probably want to insert this information into this list at compile time.

[2015-06-21 20:04] errm opened #25 "Optionally auto fix violations where possible + safe"
Rewrite to correct the failing rules where possible. As in go fmt or rubocop -a

[2015-06-21 20:09] lpil commented on #25
Certainly needed. Sounds hard.

[2015-06-21 21:52] lpil opened #26 "Rule: Trailing blank lines"

[2015-06-21 21:52] #26 closed

[2015-06-21 22:01] lpil opened #27 "Rule: Literal in condition"
Disallow this

[code]

[code]

etc.

[2015-06-22 08:13] lpil commented on #5
Suggestion from @Joe-noh

[2015-06-22 22:48] lpil opened #28 "Rule: ModuleDoc"
Enforce presence of `@moduledoc`s

[2015-06-24 18:58] #27 closed

[2015-06-27 12:24] lpil opened #29 "Rule: Forgotten debugger"
Disallow this

[code]

As it's probably a leftover from debugging.

[2015-06-27 16:33] #29 closed

[2015-06-28 16:10] lpil opened #30 "Rule: Cyclomatic complexity"
?

[2015-06-29 14:17] lpil opened #31 "Time tuple format used with timetag doesn't match that of :os.timestamp"
Mega, second, micro.

[2015-06-29 18:56] lpil commented on #31
Sigh. I put this issue in the wrong repo.

[2015-06-29 18:56] #31 closed

[2015-06-30 13:05] lpil opened #33 "Allow a path to a directory or file to be tested to be passed to the mix task as an argument"
i.e. build upon #32

With documentation and tests!

[2015-06-30 13:09] #13 closed

[2015-06-30 13:09] #14 closed

[2015-06-30 13:53] lpil commented on #24
Silly github, a mention in a commit message doesn't mean it's fixed.

[2015-06-30 14:17] #24 closed

[2015-06-30 17:59] lpil opened #34 "Integration or contract tests"
Hell, why not?

[2015-07-01 07:34] meadsteve commented on #5
I like the idea of mix.exs like file. So if a project contains a dogma.exs then those rules are loaded. If not we default to loading a file packaged with dogma (hopefully most people would use this as competing standards confuse things). This would allow anyone contributing to the repo to see what the formatting rules are. For a config format what about:

[code]

[2015-07-01 08:06] meadsteve commented on #30
Things like npath and cyclomatic complexity might be worth breaking out as a separate tool.
I think it's worth keeping dogma focussed as a code style/formatting/ tool.

[2015-07-01 08:13] #22 closed

[2015-07-01 08:16] lpil opened #36 "Dogma.Rule.list doesn't recompile when a new file is added to lib/dogma/rules/"
The solution involves `@external_resource`, but how exactly? Can we specify an entire directory to be an external resource, rather than all the files in it?

[2015-07-01 08:19] lpil commented on #30
I like these metrics in Rubocop, as they're basically a proxy for "don't write huge methods". The alternative is number of lines, which I detest, as it discourages you from splitting long lines for legibility.

[2015-07-01 08:20] lpil commented on #5
What does the line

[code]

do in your example? Turn on that rule? Are all rules not in there disabled?

[2015-07-01 08:21] meadsteve commented on #30
yeah I don't disagree with them being useful (definitely much prefer it over line length).

But for me it fits in to a different logical category. These kind of checks give you feedback on how you design/architecture your software. Where as all the current rules are about how you lay it out and format it.

[2015-07-01 08:23] meadsteve commented on #5
In my example only those two rules would be run. So the default config would probably contain all of the rules. It has the advantage of removing magic as everyone can see exactly what happens in what order. You can then also provide a couple of these config files if a few differing community standards arise.

[2015-07-01 08:25] meadsteve commented on #5
Implementation-wise you could then just reduce over this list running: rule.test(). So it's not too different to the implementation you have now.

[2015-07-01 08:25] lpil commented on #5
I think I'd rather have the config file explicitly turn rules off, rather than explicitly turn rules on.

I'm hugely influenced by rubocop, as you may be able to tell. :P

[2015-07-01 08:27] meadsteve commented on #5
I'd spotted the rubocop influence :-) Ultimately it's your decision but I'm not really looking at this as a config file. I see it as a list of the rules that my repo is following. It's about making it explicit.

[2015-07-01 08:27] lpil commented on #30
This is why we need #5 before this I think. In my experience of linters in a professional environment these are the ones that cause the most friction.

[2015-07-01 08:34] lpil commented on #5
What happens when a new rule is introduced?

[2015-07-01 08:44] meadsteve commented on #5
Well the default set would have to have the new rules added each time. For users with their own list they decide if they want the new rule and add them. This way you don't suddenly start failing rules you didn't expect to follow.

[2015-07-01 08:46] lpil commented on #5
Perhaps. I think that would be acceptable for a minor version bump. I don't like the idea of people not knowing that new functionality exists though.

[2015-07-01 08:50] meadsteve commented on #5
I agree. But I'd rather deal with that by encouraging people to use the default set. Which would get updated each time a rule is added.

[2015-07-01 08:52] meadsteve opened #37 "Rule: Detect windows line endings \r\n"
After discussion in #35

[2015-07-01 09:24] meadsteve commented on #30
Good point about #5 . I'd definitely be happier with this if I could run dogma twice. Once with formatting and once with design/code quality checks.

[2015-07-01 09:26] meadsteve commented on #9
Would you consider warnings as well? Something that causes dogma to output but not fail?
I've seen rules before that are warn at 80 fail at 120. Though I'm still not sure how I feel about this as nothing really stops you ignoring the warnings.

[2015-07-01 09:30] lpil commented on #9
We could add a severity field to the error struct, and the formatters can decide how to present this information.

Personally I don't think this really adds anything.

[2015-07-01 09:31] lpil commented on #30
Perhaps by specifying a config file with a runtime flag?

[2015-07-01 09:33] meadsteve commented on #30
so something like?
[code]

[2015-07-01 09:37] lpil commented on #30
Open an issue if you want it :)

[2015-07-01 09:40] meadsteve opened #38 "Allow configuration to be specified in runtime flag"
This requires #5 to be implemented first. Being able to do something like the following would be useful:

[code]

[2015-07-01 09:40] meadsteve commented on #30
Done! #38 Issue all the things!

[2015-07-02 08:07] lpil opened #39 "The way we currently handle parse errors doesn't make sense"
Register the error as a script error and don't run tests

[2015-07-02 12:06] lpil opened #41 "Enable users to add custom rules"

[2015-07-02 13:20] #19 closed

[2015-07-02 17:45] lpil commented on #37
Closed by #40

[2015-07-02 17:45] #37 closed

[2015-07-03 10:53] #28 closed

[2015-07-04 17:43] lpil commented on #15
We can't do this any more because rules now sometimes modify the AST as they walk it.

[2015-07-04 17:43] #15 closed

[2015-07-04 17:44] #3 closed

[2015-07-04 17:45] lpil opened #44 "Allow users to specify whether or not each rule runs for .exs files."
It was super handy for eca6b060cbbd93d64d08f1ca22248e637b02203f

[2015-07-04 18:12] lpil opened #45 "Rule: Comparison to boolean"
Disallow these

[code]

Because they're totally pointless.

[2015-07-04 18:17] lpil opened #46 "Rule: Literal in interpolation"
[code]

And so on.

[2015-07-04 18:20] lpil opened #47 "Rule: Semicolon"
Expressions should not be terminated by semicolons.

[code]

[2015-07-04 18:23] lpil opened #48 "Rule: Predicate name"
[code]

[2015-07-04 18:23] lpil opened #49 "Rule: Function name"
Function names must be snake_case

[2015-07-04 18:28] lpil opened #50 "Rule: Argument count"
Disallow functions with more than `N` arguments. 4?

[2015-07-04 18:31] lpil opened #51 "Rule: Module attribute name"
Module attributes should be snake_case

[code]

[2015-07-05 13:11] lpil opened #52 "How do we avoid mistaking string contents for Elixir code?"
There are times were we cannot get enough information from the AST alone, in which case we need to inspect the source of the script itself.

When doing this, it's easy to mistake the contents of a string for code, resulting in false positives.

For example, if we wanted to ensure that the `+` operator always had a space around it, this code should not register any errors

[code]

But unless we hav

[2015-07-05 13:31] #51 closed

[2015-07-06 12:13] lpil opened #53 "Rule: Pipe bare value start"
The first argument in a chain of pipes should be a bare value, not a function call with an argument.

I've worded this poorly.

[2015-07-09 07:45] meadsteve opened #54 "Make sure we have a rule for everything on the elixir.community styleguide"
http://elixir.community/styleguide has a number of points to follow. It'd be good if we could deal with everything on this.

[2015-07-14 07:15] houshuang opened #55 "protocol Enumerable not implemented for "'='""
[code]

[2015-07-14 14:38] lpil commented on #55
Can you offer more context please?

[2015-07-14 14:41] houshuang commented on #55
This is the only message I got when trying to run dogma on my project... The project is at https://github.com/houshuang/survey.

[2015-07-14 14:49] lpil commented on #55
Thanks.

What version of Dogma are you running?

[2015-07-14 14:55] houshuang commented on #55
I tried again with HEAD, and it's the same thing. I put in an IO.inspect
just below the function definition of walk in lib/dogma/script.ex, here's
the output:

[code]

On Tue, Jul 14, 2015 at 10:49 PM, Louis Pilfold <notifications@github.com>
wrote:

--
http://reganmian.net/blog -- Random Stuff that Matters

[2015-07-14 14:56] houshuang commented on #55
I tried again with HEAD, and it's the same thing. I put in an IO.inspect
just below the function definition of walk in lib/dogma/script.ex, here's
the output:

[code]

[2015-07-14 18:54] lpil commented on #55
Ah, yes. This is because we're doing something stupid with errors. See #39

Currently if you have a syntax error in a file Dogma isn't going to work. Will be simple to fix, but I've been away for a week and a bit.

In this case, Dogma thinks that `{1, "syntax error before: ", "'='"}` is the AST of a function call, and the last value in the tuple is supposed to be a list of arguments, which explode

[2015-07-14 19:10] lpil commented on #54
Which ones are we missing?

[2015-07-14 19:34] meadsteve commented on #54
Hopefully none. Just wanted to make sure so I thought I'd add an issue :smile:

[2015-07-15 10:02] #39 closed

[2015-07-15 10:02] #55 closed

[2015-07-15 10:04] lpil commented on #55
Could you try again on master please? :)

[2015-07-15 14:20] meadsteve commented on #36
I guess we can close this if we go with the approach in #42?

[2015-07-15 14:25] meadsteve commented on #38
I believe this will mostly be handled by PR #42. Although I went with passing in a Module containing the rules rather than a file.

That said I've used the approach of having a .exs file containing a config in a project of mine(https://github.com/meadsteve/white-bread/) so it could still be an option.

[2015-07-15 15:10] lpil commented on #36
No longer relevant!

[2015-07-15 15:47] #36 closed

[2015-07-15 15:51] lpil commented on #38
Can you link the files that handle the loading of the config please? :)

[2015-07-15 16:40] meadsteve commented on #38
https://github.com/meadsteve/white-bread/blob/master/lib/mix/tasks/white_bread.run.ex#L18

Basically loads the exs file and gets the first module defined in it.

[2015-07-15 17:10] meadsteve commented on #5
@lpil so now that #42 is merged shall we consider this issue closed?

[2015-07-15 17:15] lpil commented on #5
Yes, let's. Thanks Steve :)

[2015-07-15 17:15] #5 closed

[2015-07-15 17:24] meadsteve commented on #49
@lpil happy to implement this unless you've already started?

[2015-07-15 17:34] meadsteve commented on #9
also realised this is solved by PR #42. So we can close this too. Warnings we can come back to later. I've definitely gone off them.

[2015-07-15 17:35] lpil commented on #49
Go for it :)

These might be handy

https://github.com/lpil/dogma/blob/master/lib/dogma/util/name.ex
https://github.com/lpil/dogma/blob/master/lib/dogma/rules/variable_name.ex

[2015-07-15 17:46] lpil commented on #9
Excellent.

[2015-07-15 17:46] #9 closed

[2015-07-15 17:47] lpil opened #56 "Document customisation features"

[2015-07-15 17:50] meadsteve commented on #49
ah. Well that makes it fairly trivial :smile:

[2015-07-15 17:56] meadsteve commented on #50
@lpil I can start taking a look at this one as well if you like?

I think 4 is reasonable (can't think of any elixir functions that take more than 4 off the top of my head) but I think it definitely should be configurable.

[2015-07-15 18:05] lpil commented on #50
Go for it :)

[2015-07-15 18:39] #49 closed

[2015-07-15 18:52] meadsteve commented on #54
In fact when you want to publicise this tool you could get them to dogma. Nice way of tying the community together.

[2015-07-15 19:36] meadsteve commented on #47
Wow. Had not realised this was valid elixir.

[2015-07-15 19:55] lpil commented on #47
You can put them on the same line too.

[2015-07-16 08:08] meadsteve commented on #52
So all  the ast nodes have a line number right? I guess we could run over the nodes pairing them each with their line and then provide a function like ```Script.walk_with_text(fun)``` that takes a fun/3 with something like:
[code]

[2015-07-16 08:09] #50 closed

[2015-07-16 08:10] meadsteve commented on #52
and maybe also the reverse that iterates over all lines but also provides any nodes generated by that line?

[2015-07-16 08:13] lpil commented on #52
I'm not sure I follow, could you explain in more detail please?

My current thought was maybe trying to extract the Erlang tokeniser from the Elixir lang project.

[2015-07-16 08:21] meadsteve commented on #52
I haven't fully thought this through myself yet. Might have to play around with some prototyping.

[2015-07-16 08:21] meadsteve commented on #52
but given that each of the nodes looks something like this: ```{_, [line: line_number], _}``` it must be possible to figure out what context each line has.

[2015-07-16 08:34] lpil commented on #52
For most expressions it's possible, but I don't know how you can identify whether it's a string or not on that line.

[2015-07-16 10:38] meadsteve opened #59 "Rule: Enforce 2 space indenting."

[2015-07-16 10:52] lpil commented on #59
Any idea how to do this one? Certainly needed, but seems hard with my very limited knowledge of parsing, etc.

[2015-07-16 10:55] meadsteve commented on #59
Yeah not really sure just yet. But a useful rule to have.

[2015-07-16 16:43] lpil opened #60 "Ensure each module in Sets.All have the test function defined"
[code]

[2015-07-16 21:29] #60 closed

[2015-08-06 16:41] lpil opened #64 "Spike: Experiment with extracting the Elixir tokenizer from the compiler"
It could prove very handy!

[2015-08-07 15:14] lpil opened #65 "Create a "Rule" behaviour"
http://elixir-lang.org/getting-started/typespecs-and-behaviours.html#behaviours

[2015-08-08 15:13] lpil commented on #65
Done! :D

[2015-08-08 15:13] #65 closed

[2015-08-09 15:57] lpil opened #66 "Quotes in string with triple quote strings."
Should not fire for triple quote strings.

[2015-08-13 22:04] lpil opened #67 "QuotesInString should not recommend sigil inside binary matches"
It's not valid here.

This is what you have to do (AFAIK)

[code]

Note this is currently causing the build to fail.

[2015-08-13 22:30] #67 closed

[2015-08-14 08:09] #12 closed

[2015-08-14 08:10] lpil commented on #12
Let's be cheeky.

[2015-08-14 14:57] lpil commented on #46
@richardbatty

Might want to look at this for an idea https://github.com/lpil/dogma/blob/master/lib/dogma/rules/literal_in_condition.ex

Probably want to move the [literal check function](https://github.com/lpil/dogma/blob/master/lib/dogma/rules/literal_in_condition.ex) into a new module under `Dogma.Util`

Be sure to add the Rule behaviour, and to add the rule to the `All` set.
https://github.com

[2015-08-16 13:40] lpil opened #70 "Configuration proposal"
### A draft for dogma configuration:

I think we should recommend you create a `config/dogma.exs` file, and load this file from your main config.exs.

Previous discussions with @meadsteve raised the question of whether the rules in the config file should be the only ones that are run, or whether the settings there override and add to the dogma default rule set.

Currently I'm leaning towards both!

[2015-08-16 20:25] lpil commented on #48
Might be worth checking Rubocop to see how they do this.

[2015-08-16 20:28] lpil commented on #38
Done by Steve a while back. I'm likely going to break this at some point though.

[2015-08-16 20:28] #38 closed

[2015-08-16 20:40] lpil commented on #17
We can generate this! :)

[code]

* Grab all rules from `Dogma.Rules.Sets.All`
* Map `Code.get_docs/2`
* Map a rule name header applying function, onto them
* Concat the binaries, concat an intro onto the top
* Write to file

[2015-08-16 21:06] lpil commented on #44
Is this a good idea? How do we want to do this?

[2015-08-17 09:28] meadsteve commented on #70
I like the idea in general. I think this is a sensible way of managing the config.

One change I'd suggest though is breaking the rule config in to two pieces. It confused me a little that disabling rules and updating their config was handled in the same key. Maybe it would be better having a section of rules to skip and a section for config to override:
[code]

[2015-08-17 17:45] jonnyarnold commented on #70
Style checkers usually have a set of defaults:
- [JSHint](http://jshint.com/docs/) has a default, but [doesn't specifiy which ones are on by default](http://jshint.com/docs/options/).
- [Rubocop defines a default config file and loads it](https://github.com/bbatsov/rubocop/blob/master/config/default.yml), but provides you with options to override.
- [JSCS](http://jscs.info/overview.html) has every

[2015-08-17 18:57] lpil commented on #70
We already have a concept of sets, which is (for me) an analogue of JSCS's styles (airbnb, google, etc), so we should specify them somehow.

If none is specified I want to default to a sane set.

[2015-08-17 20:04] lpil opened #71 "Run rules for a script in parallel"
If we do this, we probably want to make it so that rules return a list of errors, rather than the script with the errors attached so the errors can be concatenated and flattened easily.

http://www.theerlangelist.com/2015/07/beyond-taskasync.html

[2015-08-18 07:13] meadsteve commented on #70
@jonnyarnold my concern would be that it's not clear if flasey means "no config to override" or "disable rule". Both seem like at least partial valid meanings so without reading the docs/code I'm not sure someone knew to the project would understand what's intended. I always prefer explicitness in config files.

[2015-08-18 08:32] jonnyarnold commented on #70
@meadsteve Can you explain what you mean by "no config to override"? In my head, there's only one way to interpret this:

*When I declare `RuleName: false` I do not want the declared rule to be run.*

[2015-08-18 08:50] meadsteve commented on #70
@jonnyarnold from rereading your first message I think it may be some confusion around the sets. Currently the set gives a bundle of rules with some default configuration. So in @lpil 's example with
[code]
you get a load of rules with some default config (https://github.com/lpil/dogma/blob/master/lib/dogma/rules/sets/all.ex). So in that context if I later saw the list with a false value in it I w

[2015-08-19 12:37] meadsteve commented on #71
@lpil firstly: :+1: I like it.
Secondly this probably won't be a huge amount of work to do with the Task module.  I can take a look at it this weekend if you want to assign it to me?

[2015-08-19 13:00] lpil commented on #71
If you don't mind I quite wanted to do this myself, would be a good learning experience for me. :)

[2015-08-19 13:04] meadsteve commented on #71
Not a problem at all :smile: it'd be a bit mean of me to steal all the fun bits whilst you're busy with a new job.

[2015-08-19 21:13] #66 closed

[2015-08-19 21:13] lpil commented on #66
Done.

[2015-08-19 21:25] lpil commented on #52
We've just stripped out all strings before processing.

[2015-08-19 21:25] #52 closed

[2015-08-21 07:00] lpil opened #73 "The logic for finding, parsing, and testing source files is a tangled mess"
Separate into logical and testable parts.

[2015-08-21 07:08] lpil opened #74 "Refactoring rule tests to no longer use ShouldI matchers"
Now that rules return lists they only add unneeded complexity and make it less clear what is being tested.

[2015-08-22 10:44] lpil commented on #71
Doesn't seem to be a performance increase. See #72. Possibly doing something wrong.

[2015-08-22 10:44] #71 closed

[2015-08-22 16:44] lpil commented on #74
[code]

etc.

[2015-08-22 19:13] lpil opened #76 "Rename %Error.position to %Error.line_number"
https://github.com/lpil/dogma/blob/eca6b060cbbd93d64d08f1ca22248e637b02203f/lib/dogma/error.ex#L9

Suggested by @revdan [here](https://www.reddit.com/r/elixir/comments/3hyfz7/what_are_you_all_using_elixir_for_at_the_moment/cubzqwl?context=3)

[2015-08-22 20:40] lpil opened #77 "Dramatically improve the quality of the moduledocs for rules"
[This](https://github.com/lpil/dogma/blob/master/docs/rules.md) is really crappy.

[2015-08-22 20:42] lpil opened #78 "The `dogma.rules_list` mix task is being included when people add Dogma as a dependency"
This is for our use only, it's not helpful to them.

I thought that [this](https://github.com/lpil/dogma/blob/442e9bedb4851d0b8720fc9e7f280250338df4bd/mix.exs#L35-L40) would do the trick, I guess not.

[2015-08-22 22:14] #48 closed

[2015-08-23 17:42] #76 closed

[2015-08-23 18:00] lpil opened #81 "Create generator for ruleset documentation."

[2015-08-23 21:25] #45 closed

[2015-08-24 10:38] lpil commented on #78
Move it to a script.

http://stackoverflow.com/questions/32168861/preventing-a-mix-task-being-included-when-your-project-is-included-as-a-mix-dep/32177038#32177038

[2015-08-24 21:17] #53 closed

[2015-08-26 20:12] #78 closed

[2015-08-27 10:31] meadsteve opened #84 "Add a change log"
Because http://keepachangelog.com/

[2015-08-27 10:37] lpil commented on #84
After version 1.

[2015-08-27 10:44] meadsteve opened #85 "Run files in parallel"
After looking at #71

Might be some benefit in parallelising the run on each file. The first step would be writing some simple benchmarking for this,

[2015-08-27 10:44] meadsteve commented on #85
@lpil are you working on this? If not I'm happy to take a look.

[2015-08-27 10:45] meadsteve commented on #41
@lpil it feels like with the sets congif work you did (8f6eee3) we already have this. Shall we close?

[2015-08-27 10:56] lpil commented on #41
We can have a custom ruleset that adds additional rules, but I want to also be able to add these though he additional configuration section. It also needs to be tested, as I'm not sure I've done this well.

[2015-08-27 10:57] lpil commented on #85
Go for it :)

[2015-08-28 20:28] 5thWall commented on #18
So far I've only found two ways to go about this. The user can install dogma as a mix archive, or we can provide a non-mix command line program that the user installs as an escript.

## Mix Archive

The user would install by downloading the repository and then running:
[code]

Afterwards the user could run `mix dogma` anywhere. The main problem I see with this approach is that as far as I can tell

[2015-08-28 22:27] lpil commented on #18
The other question here is how do we manage configuration with an instance of Dogma that is not tied to a particular mix project.

[2015-08-28 23:14] 5thWall commented on #18
We should be able to read in an Elixir config file using `Mix.Config.read!`.

Then the question is where is this file located. I'd suggest these locations in this order:
* File passed in with `--config`
* `config/dogma.exs`
* `./dogma.exs`

Maybe not the command line option for v1, but at least `config/dogma.exs` and `./dogma.exs`.

[2015-08-29 08:01] meadsteve commented on #34
I wonder what benefit we'd get from the integration tests. We've got the pieces covered by unit tests and as the project is dog fooding itself we at least know that it runs.

[2015-08-29 08:41] lpil commented on #18
Perhaps we want a global one too. `~/.dogma.exs` ?

[2015-08-29 08:58] lpil commented on #34
I want something that verifies everything is hooked up correctly, as unit tests fail to capture this, and I *will* break this when I refactor things like the `Dogma` module. Luckily [this](https://github.com/lpil/dogma/blob/master/.travis.yml#L19) kind of works like an integration test on CI.

I think once I'm done with #73 I could achieve this security I want using contract tests.

[2015-08-29 09:05] lpil commented on #18
Could you open one please?

[2015-08-29 09:50] lpil opened #88 "Create a Script.parse! that raises when the source is invalid."
To be used in tests, since currently test functions like this will return `[]` when the script is invalid. Quite confusing.

[code]

[2015-08-29 09:58] lpil opened #89 "The VariableName rule should be able to analyse names on the left hand side of a destructuring assignment"
[code]

[2015-08-29 10:25] lpil opened #90 "JSON style formatter"
A easily machine readable output sounds like a good thing to me!

https://github.com/bbatsov/rubocop/#json-formatter

[2015-08-29 12:25] #85 closed

[2015-08-29 15:26] lpil opened #92 "ModuleDoc should report the name of the module without a moduledoc"

[2015-08-29 15:28] #88 closed

[2015-08-29 18:04] 5thWall commented on #18
According to the contributor doc, they like questions like this in the language talk group. https://groups.google.com/forum/#!topic/elixir-lang-talk/39Z0iH-5Jyw

[2015-08-29 19:10] 5thWall commented on #18
So, there is a pull request related to installing escripts with mix: https://github.com/elixir-lang/elixir/pull/2974

According to José, he want's to put it on track after 1.1 and 1.2.

[2015-08-30 04:58] jacknoble opened #95 "Bare pipe chain start flags interpolated strings"
e.g.
[code]
works but
[code]
complains that function pipe chains must start with a bare value. That's unintentional, right?

[2015-08-30 09:08] lpil commented on #95
Yep! Thanks for the report. :)

[2015-08-30 09:24] #95 closed

[2015-08-30 21:36] lpil commented on #17
Doooooone

[2015-08-30 21:36] #17 closed

[2015-08-30 21:37] #8 closed

[2015-08-30 21:39] lpil opened #96 "Generate markdown documentation for formatters from moduledocs"
Like `docs/rules.md`

[2015-08-30 21:45] lpil commented on #84
https://github.com/olivierlacan/keep-a-changelog/blob/gh-pages/CHANGELOG.md

[2015-08-30 21:45] #74 closed

[2015-08-30 21:46] lpil commented on #74
This wasn't very fun.

[2015-08-30 21:51] lpil commented on #92
Resolved by @jacknoble !

[2015-08-30 22:28] #92 closed

[2015-08-31 07:39] meadsteve commented on #74
:cookie:

[2015-08-31 18:05] lpil opened #99 "Get line numbers of strings from tokens"
http://elixirplayground.com?gist=b07f2301680a0fb19788

[2015-08-31 20:13] #99 closed

[2015-08-31 20:14] lpil commented on #64
Done. Thanks to @5thWall for showing us how easy this is.

[2015-08-31 20:15] lpil opened #100 "Document adding of new rules, including information on how we use the AST and tokens."

[2015-08-31 20:16] lpil commented on #25
Does anyone have any ideas as to how we might do this? Sounds difficult. Maybe we should look into how Rubocop does it.

[2015-09-01 03:32] jacknoble opened #101 "Assignment in conditional predicate"
Makes sense as a rule, I think. Assignment in Assertion too.

[2015-09-01 05:45] jacknoble commented on #23
Some thoughts: Regexs should use `/` unless they contain that a `/` character in which case they should use `{` and `}`. This matches the "what would be lease surprising to someone coming from Ruby" rule-of-thumb. Feels to me like the others should always use `(` and `)`.

Also seems like there should be separate rules for each sigil (at minimum a separate rule for regexs) so they can be easily cu

[2015-09-01 07:22] lpil commented on #101
Assignment in assertion might not be a good idea as we might want to use pattern matching inside the assertion to test only a part of the data structure? How else should this be done?

Otherwise, I like this. :)

[2015-09-01 08:43] meadsteve commented on #25
What rules do we currently have that we'd want to consider doing this on? The ones that comes to mind at the moment are the WindowsLineEnding and TrailingWhiteSpace.

[2015-09-01 09:14] lpil commented on #25
They sound like easy wins, and I think we might be able to manage some others, but I don't really know what's the best way to architect this bit of the system.

[2015-09-01 09:17] meadsteve commented on #25
First thoughts would be. Have a Fixable behaviour then do the following:

1. Run all tests.
2. Prompt if any of the errors are fixable.
3. Apply fixes.
4 Rerun tests that are fixable and output updated number of violations.

For simple rules like the ones I mentioned the fixing could be as simple as running a map over each source line. It'd definitely be harder for rules that make use of the ast.

[2015-09-01 10:45] lpil commented on #25
I mean internally, rather than from the user interaction point of view. Will give it some thought.

[2015-09-01 10:48] meadsteve commented on #25
Internally I'd be tempted to handle this with a function that takes all the lines of a script and returns all the lines of the "fixed" file. I think this would work for all the simple ones which I think would be the only ones we'd want  to automatically fix.

[2015-09-01 12:34] lpil commented on #25
I don't want to re-run the test correction loop as it's possible to get into an infinite loop here.

[2015-09-01 12:36] meadsteve commented on #25
agreed. I don't seen any reason why you'd run any fixing steps a 2nd time. If any errors remain after automatic fixes then it's probably something that can't be fixed automatically.

[2015-09-02 16:28] lpil commented on #89
Implemented by @jacknoble  :)

[2015-09-02 16:28] #89 closed

[2015-09-02 16:29] #64 closed

[2015-09-03 07:55] #96 closed

[2015-09-05 10:30] #46 closed

[2015-09-05 10:32] lpil opened #104 "Go over all the error messages and ensure they have a consistent tone."

[2015-09-07 20:35] #90 closed

[2015-09-08 19:09] #101 closed

[2015-09-09 21:15] rrrene commented on #30
Most linting tools have some notion of "severity level", where "style/convention" means things from a style guide and "warning" means "look out how you write your code" (what @meadsteve said about "architecture).

Maybe rules could be tagged with this "severity", so you can do things like exit with an exit code different from 0 if "only" style violations occur, but with a "breaking" exit code when

[2015-09-09 21:30] lpil commented on #30
If you want a feature, open an issue please :)

Thanks for the complement, you've got some cool stuff too!

[2015-09-10 08:45] lpil commented on #70
This doesn't work.

[code]

That's not valid syntax.

[code]
[code]

[code]

Or something else?

[2015-09-10 08:50] meadsteve commented on #70
My vote would be for:
[code]
simple and it keeps the key identical to the module name.

[2015-09-10 09:11] jonnyarnold commented on #70
:+1:

[2015-09-11 21:18] scrogson opened #108 "Hex release 0.0.4 fails to run"
When installing the latest release via `hex` I got the following error:

[code]

Changed to `{:dogma, github: "lpil/dogma", only: :dev}` and it worked.

[2015-09-11 22:40] rrrene opened #109 "Add severity to Rules"
@meadsteve correctly pointed out that we might different kinds of rules. Some that try to enforce the elixir-community coding style which are basically for accessibility+readability of the code (like `LineLength`) and others, which are trying to enforce best practices to avoid pitfalls later in the code's life cycle (like `CyclomaticComplexity`).

I would propose to add a function to each rule cal

[2015-09-11 22:52] lpil commented on #108
Hello! Thanks for the report.

What was it you changed it from?

[2015-09-11 23:00] lpil commented on #108
OK, fixed. I need to work out how to do good integration tests, as my test suite completely failed to pick up this huge problem. Sorry again, and thank you for the report.

[2015-09-11 23:00] #108 closed

[2015-09-11 23:02] lpil commented on #109
I think it would be nice that if we had this feature, the severity was set by the ruleset rather than the rule, so it can be customised easily depending on the situation.

[2015-09-12 00:43] 5thWall commented on #109
I think `severity` is the wrong label for what we're doing, as is `warning`. Let the compiler handle errors and warnings. We just have different categories of rules.

I think that the category is inherent to the rule, so I don't think they should be defined by rule sets. Instead of a function on the rule defining its category I think we should follow [rubocop's example](https://github.com/bbatsov/

[2015-09-12 02:54] lpil commented on #109
I think I agree about it being the wrong label.

Perhaps it could just a flag which dictates whether the application will exit with 0 or not if this rule fails.

[2015-09-12 08:14] henrik opened #112 "Error in Phoenix project"
Running dogma in a Phoenix project and getting an error:

[code]

Debugging it a bit, what seems to be going on is this:

* It looks at "_build/test/lib/phoenix/priv/templates/phoenix.gen.html/view.ex" (should it really look inside _build?)
* This is a template file with Elixir syntax errors like `defmodule <%= module %>View do`
* Thus, `script.tokens` is an unhandled `nil` when trying to run a ch

[2015-09-12 13:05] rrrene commented on #109
@5thWall `category` is a much better term for what I wanted to express, thx! (not a native speaker). I am in complete agreement with your other points.

@lpil I am wondering if the "failing *hard* when the rule fails" is more of an configuration option (with sensible defaults, naturally)? I could imagine both scenarios, but am wondering which route we want to go:

- Rules define whether or not the

[2015-09-12 15:27] knewter commented on #112
I actually just came here to leave this exact Issue.  It's like you're in my head @henrik

[2015-09-12 15:34] lpil opened #113 "Don't run any rules or further script processing against files with syntax errors."
#112

[2015-09-12 15:55] #112 closed

[2015-09-12 15:56] henrik commented on #112
@knewter Yeah, total coincidence, heard about it from some screencast series :)

[2015-09-12 15:57] henrik commented on #112
@lpil Thanks for fixing this so quickly! :heart:

[2015-09-12 15:57] lpil commented on #112
Did someone mention Dogma in a screencast? That might explain why I've got more visitors the last few days.

No problem @henrik! I feel a bit bad, I keep putting out versions with show stopping bugs. That's `v0.x`, I suppose :shipit:

[2015-09-12 16:02] lpil commented on #112
I really dislike how github puts that reference comment in every time you force push.

[2015-09-12 16:56] henrik commented on #112
@lpil Yeah, @knewter mentioned it in a recent episode of his http://elixirsips.com/ :)

[2015-09-18 17:24] #73 closed

[2015-09-20 12:55] rrrene opened #117 "Why are there functions called probably_X?"
Is there a reason why the naming utility functions are named and coded so defensively?

https://github.com/lpil/dogma/blob/91981ea1b2a44b3f3660d88c172f099f507d86bd/lib/dogma/util/name.ex#L15

There might be a good reason for this, but seeing it I'm just thinking "can't we just ensure it's a snake_case name and call it that?"

[2015-09-20 13:10] lpil commented on #117
Because it doesn't really check if something is snake case or not, because I don't really know how I'd check that. Probably should make the name more sensible now.

[2015-09-20 13:19] rrrene commented on #117
I could refactor this into `snake_case?` and so on, I was just curious if you had any special reasons.

We should be able to check with certainty :wink:

[2015-09-20 13:27] lpil commented on #117
Go for it :)

[2015-09-20 13:39] rrrene commented on #117
Done. Closing this ticket in favor of the PR.

[2015-09-20 13:39] #117 closed

[2015-09-22 22:38] lpil opened #120 "BarePipeChainStart incorrectly fails for ranges"
[code]

[2015-09-23 15:12] #120 closed

[2015-09-24 15:13] rrrene opened #122 "VariableName rule stops on first find"
Consider this code:

    defmodule Sample do
      def foobar do
        %{some_value: someValue, other_value: otherValue} = load_something()
      end
    end

Dogma's VariableName rule currently only finds `someValue` but not `otherValue` since it only searches for `any?` error.

[2015-09-24 15:22] rrrene opened #123 "Formatters fail if Dogma is a dependency"
I tried to add Dogma to another project (as a dependency) and get the following when I run the Mix task:

    $ mix dogma --format=json
    ** (UndefinedFunctionError) undefined function: Dogma.Mixfile.project/0 (module Dogma.Mixfile is not available)
        Dogma.Mixfile.project()
        lib/dogma/formatter/json.ex:70: Dogma.Formatter.JSON.metadata/0
        lib/dogma/formatter/json.ex:54: Dogm

[2015-09-24 15:46] lpil commented on #122
Oops. Thanks! :)

[2015-09-24 15:47] lpil commented on #123
Is this just the JSON formatter? It looks like it is, going by the stack trace.

[2015-09-24 18:10] #123 closed

[2015-09-27 13:44] rrrene opened #129 "Ideas regarding Runner and Config"
I just open sourced the wrapper code I wrote last week and mentioned in a recent PR: https://github.com/rrrene/credo

I tinkered around a bit and tried to use Dogma as a library to implement my own, idiosyncratic rules.

Some observations about what might be applicable to Dogma:

* [Config](https://github.com/rrrene/credo/blob/master/lib/credo/config.ex) - I thought having a Config struct would be

[2015-09-27 15:52] lpil commented on #129
Could you expand on what you think the benefits of the config struct might be? :)

I agree RE Dogma.run. We've not really thought about the return values. I imagine there're a few places we could start returns success tuples, I've just not got into the habit of it yet.

I've been thinking the same RE passing modules names vs passing a function. I blame my head still being stuck in the OO world.

[2015-09-28 08:04] jaredklewis opened #131 "Issues with Latest Version and Custom RuleSets"
I recently upgraded a project to elixir v.1.1 and subsequently moving dogma to github master since the latest version in Hex is not 1.1 compatible. Since then I have had difficulties running dogma with a custom rule set.

I've created a gist describing the issue here: https://gist.github.com/jaredklewis/7c4f232850474ce794a5

If I remove the config :dogma line from confix.exs, dogma runs fine with

[2015-09-28 08:06] lpil commented on #131
Thanks for the report :)

[2015-09-28 08:48] rrrene commented on #129
The advantages of using a Config struct - and keep in mind this is just my opinion and I am also infested with the OO virus - is that we (a) can fill this struct with sensible defaults, via the command line option parser or a JSON config. So we ensure that no matter where the Config comes from, there is a single source of truth for it after a certain point in our program.

Secondly we can use patt

[2015-09-28 13:30] meadsteve commented on #131
@jaredklewis glad someone else had this same problem. Thought I'd done something odd. Saw this in my travis build:

https://travis-ci.org/meadsteve/white-bread/builds/82552795

seems to be the same issue.

[2015-09-28 15:23] jaredklewis commented on #131
I am very new to Elixir, Mix, and OTP applications, but I noticed the following interesting behavior that may help someone else diagnose the issue.

I added an empty mix task to the project:
[code]
After doing so, running the command below successfully lints the project with the custom rule set.

    $ mix do my_task, dogma

However, `mix dogma` still fails as below.

[2015-09-28 22:04] nomicflux opened #132 "QuotesInString: exception was raised"
After running `mix dogma`, I received this message:

[code]

I'm not really sure in what file of mine it's choking.  Everything in my application complies and runs correctly, so this seems to be a dogma-specific issue.  I have it included in my `mix.exs` dependencies as `{:dogma, "~> 0.0", only: :dev}`.

(Sorry if I'm leaving out any important information - just getting started filling out bug rep

[2015-09-28 22:18] lpil commented on #132
Hey! Thanks for the report. Is your application open source? If so, may we see it so we can replicate the error?

Thanks.

[2015-09-28 22:23] nomicflux commented on #132
Unfortunately, it is not open source.

But I do have a little more info: the above error was from Elixir v1.0.5.  I just updated to v.1.1.0 - still got pretty much the same message, but I have updated line numbers:

[code]

[2015-09-28 22:27] lpil commented on #132
Could you possibly recreate it in a simple version?

I've really got to work out how to get the name of the file being linted in those stack traces.

[2015-09-28 22:30] nomicflux commented on #132
Found the offending code.  The original lines were:

[code]

I changed it to:

[code]

And everything worked fine.

[2015-09-28 22:34] lpil commented on #132
Huh. There's clearly a bug here. I'll try and reproduce this when I have time. Thanks!

[2015-09-29 12:07] rrrene commented on #132
The problem is that the `invalid?` function assumed it was getting a binary, but on interpolation it gets a regular ast tuple, which in this case justifies simply returning `false`.

[2015-09-29 12:16] meadsteve commented on #132
Just a thought on this. Is it good style to have a string consisting only of interpolation or is there a clearer way to show intent. Do we/should we have a rule to cover this?

[2015-09-29 12:33] lpil commented on #132
If we think it's something someone might want to avoid, we should make a rule for it.

Could you open an issue please?

[2015-09-29 12:43] meadsteve opened #134 "Rule: No interopolation only strings"
I'm not 100% sure about this rule so I'd like to open it to discussion but I think something like:

[code]

should be prevented in favour of
[code]

(this came out of looking at issue #132)

[2015-09-29 12:56] lpil commented on #134
I would like this rule. :)

[2015-09-29 14:11] nomicflux commented on #132
Great - I was logging in to suggest making a rule for that, especially because it happened due to trying to meet the rules for line length (along with some carelessness on my part).

[2015-09-29 14:37] #132 closed

[2015-10-03 14:40] alxndr opened #135 "(ArgumentError) argument error, :erlang.byte_size"
I'm trying to add dogma to [a pet project of mine](https://github.com/alxndr/flex/tree/style-tweaks) but finding that upgrading to 0.0.8 results in this error:

[code]

Seems like it's complaining about [this line](https://github.com/alxndr/flex/blob/9b5388270ba6886cd49d2d3f2b6820ecf597f61d/lib/flex.worker.ex#L43)? How should I go about fixing this?

[2015-10-03 14:57] lpil commented on #135
Heya! This is already fixed on master.

https://github.com/lpil/dogma/issues/132
https://github.com/lpil/dogma/pull/133

Thanks for the report :)

[2015-10-03 14:57] #135 closed

[2015-10-03 15:00] alxndr commented on #135
Thanks! Is it just in master and not 0.0.8?

[2015-10-03 15:01] lpil commented on #135
Yup. Tell you what, I'll release a new version. Give me a few minutes.

[2015-10-03 15:02] alxndr commented on #135
:tada: :confetti_ball:

[2015-10-03 15:03] lpil commented on #135
There you go :)

[2015-10-03 15:03] alxndr commented on #135
Fixed! Thanks so much. (Now to investigate custom rule sets...)

[2015-10-03 15:04] lpil commented on #135
Have fun!

If you make any cool rules, maybe make a pull request. We certainly need more.

[2015-10-03 15:04] alxndr commented on #135
Shall do!

[2015-10-03 20:11] alxndr commented on #135
No cool rules yet, but I was looking at how to tweak the existing rule sets and found it to be pretty awkward-feeling. [Here's what I came up with](https://github.com/alxndr/flex/blob/7ee05d2/lib/dogma_rule_set.ex#L4-L8)...

[2015-10-03 20:30] lpil commented on #135
There will be a more convenient way of configuring dogma, but I've not got round to writing it yet I'm afraid.

[2015-10-03 20:32] alxndr commented on #135
Gotcha

[2015-10-04 14:06] alxndr commented on #135
[First whack at a new rule](https://github.com/alxndr/dogma/blob/e7a2f34cf70701859b3c730cb3a6637c9bfdf770/lib/dogma/rule/variable_name_length.ex), using `VariableName` as a starting point. Any advice? (My first time messing with Elikir ASTs...)

[2015-10-04 19:17] lpil commented on #135
Seemed complex at first, but now I look it's because it checks variables inside destructuring assignments. Probably as complex as it needs to be. :)

[2015-10-04 21:44] lpil opened #136 "Rule: AssertNot"
Favour refute over assert not

[code]

[2015-10-04 21:47] lpil opened #137 "/lib/dogma/rules.ex has no tests"

[2015-10-04 21:48] lpil opened #138 "/lib/dogma/util/script_strings.ex tests don't cover all edge cases"
https://coveralls.io/builds/3741171/source?filename=lib%2Fdogma%2Futil%2Fscript_strings.ex

[2015-10-05 09:00] meadsteve commented on #137
If no one else wants to do this I could give it a go. I haven't contributed to dogma in a while.

[2015-10-06 19:20] #136 closed

[2015-10-07 19:53] alxndr commented on #84
FWIW change logs can be helpful before 1.0 as we

[2015-10-07 19:55] lpil commented on #84
0.1 then? :D

[2015-10-07 19:57] alxndr commented on #84
Sounds good to me!

[2015-10-07 20:03] alxndr commented on #129
I'm also interested in smoothing out how rulesets can be configured; for now [here's what I came up with](https://github.com/alxndr/flex/blob/1ccbd0ec9cea29f648bc12109265c1b4b7f4d957/lib/dogma_rule_set.ex) for a toy project.

[2015-10-07 20:12] lpil commented on #129
See here: https://github.com/lpil/dogma/issues/70

:)

[2015-10-08 14:58] alxndr commented on #70
Here's another :+1: for the map-based syntax.

[2015-10-11 17:15] lpil opened #142 "Dogma.run should return a ok/error tuple"
As suggested in #129

[2015-10-11 17:16] lpil opened #143 "Move away from passing in "formatter" modules to callbacks, genevents, or similar."
We should pass in callback functions rather than a formatter module in order to react to the results of tests.

As suggested in #129

[2015-10-11 21:49] lpil opened #144 "Config struct"
We're currently pulling config state from everywhere. Let's stop doing this. It's annoying. This application should basically be one massive function.

[code]

`Dogma.run/1`  (or something) should just take this struct and do everything.
#129

[2015-10-11 22:57] #138 closed

[2015-10-11 22:57] #16 closed

[2015-10-12 21:13] #134 closed

[2015-10-21 10:53] lpil commented on #137
Let's break down this module in future refactoring.

[2015-10-21 10:53] #137 closed

[2015-10-21 14:38] meadsteve commented on #137
:+1: good idea

[2015-10-24 17:35] #122 closed

[2015-10-24 17:48] lpil commented on #70
So I think I've done this now. Whey.

[2015-10-24 18:16] lpil opened #146 "New rule SpaceAfterComma"
Enforce spaces after commas. Or no spaces. Or `n` spaces. Or `x..y` spaces.

[code]

[2015-10-26 20:27] 5thWall commented on #143
What do you think about, instead of callbacks, using `GenEvent` and having the formatter modules subscribe to that instead. It gives us the same dependency inversion as passing in a callback function, while still keeping the full lifecycle of different outputs compartmentalized in individual modules.

[2015-10-27 21:56] lpil commented on #143
That actually looks very nice. I've not really delved into OTP yet, so I wasn't aware that this was a thing.

If you could open that pull request, that would be fantastic. I do have some feedback that I'd like to run by you :)

Thanks Andy!

[2015-10-28 14:30] thewalkingtoast opened #148 "Dogma error under CI: no function clause matching in Dogma.Rule.FinalCondition.find_last_cond/1"
Running `mix dogma` locally works great, but when ran under Circle CI we're getting this error:

![screen shot 2015-10-28 at 7 23 12 am](https://cloud.githubusercontent.com/assets/864643/10791385/76b674dc-7d45-11e5-95d0-6d0cf466443a.png)

Here is our CI env:
![screen shot 2015-10-28 at 7 23 42 am](https://cloud.githubusercontent.com/assets/864643/10791400/8aa49be0-7d45-11e5-969b-14ad8d3c8da9.png)

[2015-10-28 14:36] lpil commented on #148
It's failing here -> https://github.com/lpil/dogma/blob/fb10e5eeb5dbadd966fa6e83bb5e0e54ddf50e1d/lib/dogma/rule/final_condition.ex#L77

Is your project open source? If so, you link me it for debugging? Or alternatively could you provide a minimal failing example?

I think it's failing on line 1490 a file. We really need a way to make stack traces provide more useful information.

[2015-10-28 15:02] thewalkingtoast commented on #148
@lpil It is not open source unfortunately. I will work on getting a reproducible project for you. Thank you for the quick reply!

[2015-10-28 15:42] thewalkingtoast commented on #148
@lpil
I have a reproduction. It works great locally but not under CircleCI. If you're not using CircleCI, they have a small free plan. Maybe something isn't quite right in the [setup file](https://github.com/thewalkingtoast/hawk/blob/master/circle.yml)?

https://github.com/thewalkingtoast/hawk
https://circleci.com/gh/thewalkingtoast/hawk/3

[2015-10-28 15:51] #70 closed

[2015-10-28 15:53] lpil commented on #148
Thanks Adam. I'll resolve this as soon as I find time, but I'm not sure when that might be. In the mean time you could ignore the file in question for now maybe?

[code]

[2015-10-28 16:18] thewalkingtoast commented on #148
@lpil Thanks for taking the time to look at this! I appreciate it. :)

I can't tell from the error output what file to exclude. This is a new, bare-bones Phoenix app with no new custom files. Or do you mean the file inside dogma generating the error? (i.e., this file: https://github.com/lpil/dogma/blob/fb10e5eeb5dbadd966fa6e83bb5e0e54ddf50e1d/lib/dogma/rule/final_condition.ex)

[code]

[2015-10-28 16:50] lpil commented on #148
Nope, it is the file in which the error is contained. Which one that is we don't know... I have a sneaky feeling it's going to be some vendor folder on CircleCI...

How about we disable that rule for now? I've just released a new version that should let you do this:

[code]

[2015-10-28 16:51] thewalkingtoast commented on #148
@lpil Thanks, I will try that. Your comment about a vendor folder on CircleCI gave me an idea. I will try it and report back.

[2015-10-28 17:10] thewalkingtoast commented on #148
@lpil The vendor folder idea was it. The circle.yml checked out the elixir source into the repo folder so dogma was running through that as well. Moving it out let it pass so this was user error. Thanks for your assistance and quick responses!

https://circleci.com/gh/thewalkingtoast/hawk/9

[2015-10-28 17:20] lpil commented on #148
Marvellous!

I'm gunna reopen this as I want to make it handle whatever whatever code it was failing on. :)

[2015-10-31 11:20] lpil opened #150 "Dogma.Util.Comment incorrectly detects #'s in sigils as comment #'s."

[2015-10-31 19:48] lpil opened #151 "New rule: Taken names"
Don't define functions or macros that would overwrite the standard library

cond, case, if, unless, etc.

[2015-10-31 19:54] #148 closed

[2015-10-31 19:55] lpil commented on #148
Turns out if you define a macro called "cond" weird things will happen.

[2015-10-31 19:58] lpil opened #152 "Ensure dogma can run on the elixir/elixir-lang project without crashing"
There's a ton of issues here.

[2015-11-05 22:51] ranweiler commented on #131
Hi @jaredklewis! I ran into this issue as well, and though I can't dig into it more right now, I found a smaller variant of your workaround. Executing `mix do run, dogma` also successfully lints using a custom `RuleSet`. Since `mix run` with no args is an effective no-op, you can use `run` in place of your "empty" Mix task, which can be removed.

[2015-11-09 14:53] lpil opened #158 "New rule: Disallow variables with the same name as a private function in the same module"
An idea stolen from @rrrene 's credo.

[2015-11-10 09:02] lpil opened #159 "Remove formatter flag from mix task?"
This is handled by app config now. And after #147 we won't have formatters in the same sense.

[2015-11-10 09:33] lpil opened #160 "Add a "why" section to rule module documentation."

[2015-11-11 04:46] mgartner opened #161 "Ordering of module attributes, alias, @moduledoc, @behaviour"
Is there any consensus on how module attributes, aliases, `@moduledocs`, `@behaviour`, etc. should be ordered or grouped at the beginning of a module. Is this something there should be a rule around?

[2015-11-11 08:49] lpil commented on #161
This sounds like something we want, though I do not know the exact order.

We could create a function that returns the order in which each of these appear in a given module. This would be a good starting point for this rule, and the exact order can be configured and checked easily once we have this.

[2015-11-11 09:20] meadsteve commented on #161
:+1: idea. In the elixir-lang repo ```@moduledocs``` is normally the first thing so that seems a good starting point.

[2015-11-12 00:09] aaronjensen opened #164 "InterpolationOnlyString fails for utf8 type"
[code]

The first line fails, thinking it is an interpolation, which it is not.

[2015-11-12 09:03] lpil commented on #164
Thanks!

[2015-11-14 18:56] mgartner commented on #161
I'll work on going through some of the more popular elixir projects and seeing if there are any common trends. It probably makes sense to make this ordering customizable too.

[2015-11-15 10:26] lpil commented on #161
I think I generally go for something like this:

[code]

[2015-11-17 09:19] #150 closed

[2015-11-17 09:20] lpil commented on #150
Resolved by stripping sigils in the script source preprocessor step.

[2015-11-17 09:21] lpil commented on #41
Now possible with `override` in the mix config.

[2015-11-17 09:22] #41 closed

[2015-11-17 09:23] lpil commented on #33
Closed in #154

[2015-11-17 09:23] #33 closed

[2015-12-01 20:28] obmarg commented on #159
I've written an integration for emacs that uses the formatter flag.  Are there any plans for an alternative way of specifying formatters for editor integrations?

[2015-12-03 20:56] lpil commented on #159
Hm. That's a good point- if we use the mix config alone for configuration editor integrations become a lot harder.

[2015-12-03 21:00] lpil opened #169 "Assert that protocol implementations are located in the same file as the struct they are for."
Question- how do we do this? Currently rules can only inspect a single file.

We can't just fail when we find a `defimpl` without a struct, as it may originate from the deps, or from the standard library.

[2015-12-03 22:32] lpil opened #170 "Create a codeclimate engine from Dogma"
https://github.com/codeclimate/spec

[2015-12-04 10:49] meadsteve commented on #170
I like the sound of this :+1:
worth creating as a new hex package maybe that depends on this one? So that dogma doesn't get polluted.

[2015-12-04 11:29] lpil commented on #170
Yes, I think so. We would also need to think about an API for Dogma so that it can be used in a programatic manner.

[2015-12-12 10:35] #143 closed

[2015-12-13 02:50] lpil opened #171 "What if rules were structs?"
The way in which we currently pass around the names of Rule modules seems kind of awkward to me, I wonder if we can do better. What if rules were structs?

[code]

The we just iterate over the list of rule structs and call the `Rule.test/2` function on each one.

We could write a `defrule` macro to cut down on the boilerplate.

[code]

This would also solve the problem of having to either have ver

[2015-12-15 10:47] meadsteve commented on #171
I like this. The struct gives a really clear structure for what config options are available. It even makes it technically possible for IDEs to autocomplete on this.

I'm not sure if this does solve the ```very verbose names in the mix config, or concatenating Dogma.Rule on the start of every name atom.``` problem however. The struct will still have the verbose name right?

[2015-12-15 10:50] meadsteve commented on #171
Also just realised it means you can do things like
[code]
to get all the enabled rules. Seems a sensible way of doing this.

[2015-12-15 11:22] lpil commented on #171
Well, you can alias the patent module, that helps a little, and is much clearer than the previous solution.

Would be good to get a review in the PR once I've made some progress. :)

[2015-12-15 13:07] meadsteve commented on #171
@lpil no problem. Let me know when you'd like me to take a look (random unavailability due to travelling around over xmas caveat applies though).

[2015-12-15 14:20] lpil opened #173 "Improve HardTabs rule"
Detect tabs that come after spaces but before code.

[code]

[2015-12-15 14:29] lpil commented on #171
Merry everybody :santa:

[2015-12-25 21:08] lpil opened #175 "New rule: Private functions ought to be after public ones."

[2015-12-29 01:16] RobinClowers opened #176 "Syntax error can cause dogma to crash"
We had a `exs` file with bad syntax, and dogma crashed on it, when running the QuotesInString rule. This happened after a merge, but also, this script doesn't always get parsed in our dev environment.

Output:

[code]
We tracked it to `script.tokens` being nil in the `QuotesInString` rule: https://github.com/lpil/dogma/blob/master/lib/dogma/rule/quotes_in_string.ex#L19.

We inspected the value of

[2015-12-29 08:23] lpil commented on #176
Hi, thanks for the report.

This is the intended behaviour, but I believe it does not currently work. There is an ticket open for it. Hopefully we'll get it fixed soon. :)

[2015-12-31 13:42] alco commented on #18
Hi,

I saw a reference to this thread from the Elixir PR mentioned in the previous comment and thought I'd chime in.

Currently, the most viable way to provide an Elixir tool that integrates with Mix is via a custom Mix task added as a dependency to the target project. That's how most of 3rd party tools work: `mix dialyze`, `mix docs`, `mix release`, and others.

While creating an archive may look

[2015-12-31 13:44] alco commented on #18
And as for escripts, those are best used for tools that don't need to go looking into a Mix project's config or source code, but rather have a self-contained purpose. For example, a simple web server or a proxy could be distributed as an escript.

[2015-12-31 13:53] lpil commented on #18
Hi Alexei, thanks for your post. Very informative, and reenforces what I've been thinking lately.

I've been leaning towards keeping it just a mix dep, people can use credo if they want something isolated from the project.

RE different Elixir versions, I'm hoping we'll be able to support all current versions of Elixir, and we've managed to do so this far, but I expect this will become tricker ove

[2015-12-31 14:33] alco commented on #18
No problem. I also forgot to mention probably the biggest inconvenience of archives: they don't support dependencies. So when you do `mix archive.build` in your Mix project, it only packages your project's modules into the resulting archives. Needless to say, it won't work if your project relies on any dependencies.

[2015-12-31 14:42] lpil commented on #18
Ah, I didn't know that. Thank you.

On 31 December 2015 at 14:33, Alexei Sholik <notifications@github.com>
wrote:

[2016-01-03 23:05] lpil opened #177 "Drop ShouldI test framework"
This will not be a fun job.

[2016-01-05 22:22] KronicDeth commented on #164
Similar thing happened to me for

[code]

But it's the type that makes dialyzer happy (as opposed to just using `String.t`, which dialyzer says is a supertype).    Mine might be solvable by noticing you're in an `@spec` and so it's a type signature, which would be different than fixing it for @aaronjensen.

[2016-01-12 00:08] lpil opened #178 "Possibly optimise binary handling"
ERL_COMPILER_OPTIONS=bin_opt_info mix compile

http://www.erlang.org/doc/efficiency_guide/binaryhandling.html

[2016-01-28 08:58] bansalakhil opened #181 "mix dogma crashed"
running `mix dogma` in an umbrella app crashed.

[code]

[2016-01-28 08:58] lpil commented on #181
Hey Akhil. Can you provide any more information? Perhaps share the project?

[2016-01-28 08:59] bansalakhil commented on #181
https://github.com/bansalakhil/vchat-umbrella

[2016-01-28 09:06] lpil commented on #181
Thank you.

[2016-01-31 12:38] lpil commented on #181
Hey Akhil, is this definitely the right codebase? Dogma runs fine, both the latest version on Hex, and the version on the master branch.

[2016-01-31 12:38] lpil commented on #173
Closed by @msoedov  :)

[2016-01-31 12:38] #173 closed

[2016-01-31 12:39] #129 closed

[2016-01-31 12:43] #34 closed

[2016-01-31 13:00] lnikkila commented on #181
I got this as well, I had a syntax error in my code. Seems like any syntax error triggers the same exception.

[2016-01-31 13:10] lpil commented on #181
Ah, I see. Thanks for the report. :)

[2016-01-31 13:28] #176 closed

[2016-01-31 13:29] lpil commented on #181
Fixed #176, will wait for @bansalakhil to confirm that this is the same problem.

[2016-01-31 13:35] lnikkila commented on #181
Good stuff, thanks for your time!

[2016-02-07 14:28] michalwarda opened #182 "mix dogma crashes when a rule is overridden"
For some odd reason when I try to specify a rule in the override section of dogma config I get an error when trying to run `mix dogma`
[code]
Here's a link to the project on correct branch: [https://github.com/elpassion/el-mascarar/tree/add_dogma](https://github.com/elpassion/el-mascarar/tree/add_dogma)
And here is the link to the config file itself:
[https://github.com/elpassion/el-mascarar/blob/

[2016-02-07 15:43] lpil commented on #182
It seems you're using the new configuration format that's on the master branch. This has not yet been released. Perhaps update your mix config to make use of the master branch :)

[code]

[2016-02-07 15:43] #182 closed

[2016-02-08 19:43] bryansray commented on #182
Is version 0.0.11 using the new configuration format on the master branch?

[2016-02-08 19:46] bryansray commented on #182
Using 0.0.11 when I attempt to do this:

`config :dogma, override: [ %Rule.LineLength { max_length: 120 } ]`

And receive this error message when running `mix dogma`:

[code]

[2016-02-08 22:14] lpil commented on #182
I've just published a new version with the changes :)

[2016-02-12 20:01] RobinClowers commented on #131
I did some digging, and it looks like the secret sauce to fix this is `Mix.Task.run "loadpaths"` at the beginning of the task.

[2016-02-13 01:25] elliotlarson opened #183 "Dogma override config throwing "cannot expand struct" error"
I'm using Dogma `0.1.0`.  I've added the configuration from the documentation to my `config/config.exs` file:

[code]

When I run:

[code]

... I get the following error:

    ** (CompileError) config/config.exs:45: Dogma.Rule.LineLength.__struct__/0 is undefined, cannot expand struct Dogma.Rule.LineLength
      (elixir) src/elixir_map.erl:58: :elixir_map.translate_struct/4
      (stdlib) lists.er

[2016-02-13 14:14] lpil commented on #183
Hey. Thanks for the report. Is this project open source, so I can take a look?

[2016-02-13 16:06] elliotlarson commented on #183
Sure.  It's just a faux blog learning Elixir/Phoenix project.  Here's the url: https://bitbucket.org/onehouse/blog_phoenix/overview

[2016-02-15 14:36] lpil commented on #183
Thank you, I'll take a look when I can.

[2016-02-25 23:54] lpil opened #185 "New rule: snake_case file names"

[2016-02-26 00:44] lpil opened #186 "New rule: test file name"
`*_test.exs`

[2016-02-26 19:29] lpil commented on #183
Fixed by @neerfri :D

[2016-02-26 19:29] #183 closed

[2016-02-26 19:30] lpil commented on #183
Thanks @elliotlarson

[2016-02-26 19:39] lpil opened #188 "Integration test in the form of a mix project that has Dogma as a dep"

[2016-02-26 19:56] smeevil opened #189 "Read configuration from dot file in home dir"
Hi,

It would be nice if Dogma would read its global configuration from a dot file in the home dir of the user.
This would enable every user to have its own config as he/she likes and prevents the need to copy a config/dogma.exs

Also the configuration for external tools like Flycheck would benefit from this.

[2016-02-27 08:02] neerfri opened #191 "clarification regarding PipelineStart"
@lpil  can you please explain the rational behind [PipelineStart](https://github.com/lpil/dogma/blob/master/docs/rules.md#pipelinestart)?

What's wrong with:
[code]
or:
[code]
Is there a better way to write those?

[2016-02-27 12:27] lpil commented on #191
It's for the sake of consistency.

[2016-02-27 12:33] neerfri commented on #191
So how would you suggest to write the examples above?

This code seems a bit funny, no? (since `:get` is not the point here, `conn` is):
[code]

[2016-02-27 13:08] lpil commented on #191
Yup, that's how I write it.

[2016-02-27 13:08] neerfri commented on #191
OK, thanks!

[2016-02-27 13:08] #191 closed

[2016-02-27 13:11] smeevil commented on #189
I added this functionality and created a pull request.

As this is file based, I'm not sure how to write a test for it
I did test this manually though using all four options being :

* No config file at all
* A config in config/dogma.exs
* A config in ~/.dogma.exs
* A config in config/dogma.exs and ~/.dogma.exs where the one in config wins over the home dir one

Hope you'll find this useful :)
htt

[2016-02-29 18:42] smeevil opened #193 "Accept stdin as input"
Hi,

For external editors it would be very nice if Dogma would accept source code from stdin.
This will allow for a lot of IDE's to use Dogma as an inline lint-ing tool, for example with Spacemacs and Flycheck. Currently you need to feed Dogma an existing file to lint.

I've been working on a small prove of concept to see if I could make this happen and here is the result :

![example](https://dl.

[2016-03-01 14:05] lpil commented on #193
I didn't see the point in this, but you've given a very good use case here. I'm game. :)

[2016-03-01 14:05] lpil commented on #193
Perhaps it should use a special stdin CLI flag? Or another task?

[2016-03-01 14:15] smeevil commented on #193
Cool,

Spend quite some time with it today, and almost have everything nice and tidy.
It is indeed using a new flag.
Will send you a pull request tonight, or maybe earlier if I can sneak some more time in between work :)

Gerard.

[2016-03-01 14:20] lpil commented on #193
Thanks Gerard!

[2016-03-01 19:27] jlee0831 opened #195 "Dogma fails to parse special characters"
Dogma fails with:

[code]

when trying to parse
[code]

[2016-03-01 22:10] lpil commented on #195
Thanks!

[2016-03-02 14:13] smeevil commented on #195
Fixed in https://github.com/lpil/dogma/pull/197

[2016-03-02 14:43] lpil commented on #195
Thank you @smeevil !

[2016-03-02 14:43] #195 closed

[2016-03-02 17:59] smeevil commented on #185
https://github.com/lpil/dogma/pull/198

[2016-03-03 19:09] aaronjensen commented on #183
fwiw, this did not fix it for us:

[code]

[2016-03-03 19:10] aaronjensen commented on #183
(we are on 0.1.2)

[2016-03-03 19:20] aaronjensen opened #199 "cannot expand struct from config/dogma.exs"
[code]

[code]

[2016-03-07 08:50] lpil commented on #199
Are you importing this file into your regular mix config?

[2016-03-07 17:17] aaronjensen commented on #199
Ugh, indeed. Not sure how that got there. Thanks.

[2016-03-07 17:17] #199 closed

[2016-03-07 17:25] lpil commented on #199
:) Glad you sorted this. I admit this is certainly a more confusing point about Dogma configuration, but I'm not sure how to resolve this just yet.

[2016-03-12 10:06] Gyllsdorff opened #200 "Foreign characters in file causes FunctionClauseError in Dogma."
If a file have a ÅÄÖ character Dogma crashes with a `FunctionClauseError` error:
[code]
This test causes a crash on two points, the comment and the right side of the match. Replace the `å` with a `a` and everything works as it should.
[code]
This test does not cause a crash.
[code]
The files uses UTF-8 encoding. Erlang and Elixir information:
[code]

[2016-03-12 13:22] lpil commented on #200
Hey! Could you do me a favour and try this with Dogma master please? I think this may have been fixed.

[2016-03-12 13:55] Gyllsdorff commented on #200
It works on the master branch. Good work.

[2016-03-12 13:55] #200 closed

[2016-03-12 15:06] lpil commented on #200
Great! I'll release a new version where I can get to a computer.

[2016-03-12 16:12] lpil commented on #200
New version released :)

[2016-03-19 20:48] develop7 commented on #18
@lpil I've just tried add dogma to a project that already got `poison` v2.x installed, and failed to `mix deps.get`, since dogma's JSON reporter depends on `poison` v1.x. So, unless you are going to split reporters (or just json reporter) out of dogma, I'm leaning towards standalone escript executable (seems like only way to go).

[2016-03-20 14:05] lpil commented on #18
I think I'd like to remove that dep and move it to a plugin. I'll make it an open ended dep for now.

[2016-03-20 14:08] #18 closed

[2016-03-20 14:12] lpil commented on #18
@develop7 I've released a new version that should help. :)

[2016-03-20 14:34] develop7 commented on #18
@lpil thanks!

[2016-03-21 16:15] Gyllsdorff opened #201 "Dogma.Rule.TakenName warns when String.Chars is implemented."
[code]

[code]

Unless I am doing something wrong this means we can't provide implementations of String.Chars without Dogma complaining.

One solution is to make the reserved words list in `lib/dogma/rule/taken_name.ex` configurable so we can remove `to_string` from the list.

[2016-03-21 16:20] fazibear opened #202 "Crash for unknown reasons."
[code]

[2016-03-21 17:28] lpil commented on #201
This is certainly a bug, thank you for the report.

[2016-03-21 17:29] lpil commented on #202
Can you share a small example of code in which this crash occurs?

[2016-03-21 17:30] lpil commented on #201
Perhaps we should not check inside `defimpl`. What do you think?

[2016-03-21 19:24] fazibear commented on #202
I think its not about code. Ex
There are 2 projects `sprint-poker` in `~/dev/sprint-poker` and `dash` in `~/dev/dash` both have dogma installed in `mix.exs`
When i run `mix dogma` in `sprint-poker` dir or in `dash` dir everything works well.
But when I run `mix dogma ~/dev/dash` from `~/dev/sprint-poker` dir it will crash. Same crash when I run `mix dogma ~/dev/sprint-poker` from `~/dev/dash` dir.

[2016-03-22 18:50] lpil commented on #202
Heya! I've just done some testing and running Dogma outside the target directory works as expected, so there is another problem. Could you perhaps provide a small code example that reproduces this problem please?

I'll close this until then.

[2016-03-22 18:50] lpil commented on #201
Thoughts @meadsteve ?

[2016-03-22 18:54] #171 closed

[2016-03-22 21:24] fazibear commented on #202
Sure. Clone `https://github.com/elpassion/sprint-poker` repo. Add `dogma` to mix.exs. `mix dogma` work fine. But `mix dogma /Users/fazibear/dev/sprint-poker` fails
[code]

[2016-03-23 08:07] meadsteve commented on #201
I'm wondering about the suggestion to remove ```to_string``` from the list. I'm not sure I see the benefit of having a rule that spots usages of this. I would have thought the elixir compiler would provide a sensible/warning error when this was an issue.

Ignoring the rule when inside ```defimpl``` means you'd miss any of the others inside that same impl meaning the rule would be missing some of t

[2016-03-23 23:09] lpil commented on #202
Thank you.

[2016-03-27 01:11] lpil commented on #201
Current thinking- only check private functions as public ones will be generally referred to using a qualified name.

[2016-04-07 11:58] ankithherle opened #204 "LiteralInCondition: Literal value found in conditional in case statement"
[code]

Above code gives `LiteralInCondition: Literal value found in conditional` error. This is may be because `dogma` thinks `{ weather, weekday }` as Literal, but it has values inside. I think its an issue with `dogma`

Reference: http://stackoverflow.com/a/21079882

[2016-04-07 12:44] lpil commented on #204
Thanks for the report :)

[2016-04-30 10:58] toupeira opened #205 "Syntax error results in crash"
Example code:

[code]

Error message:
[code]

[2016-04-30 11:14] #113 closed

[2016-04-30 11:14] #181 closed

[2016-04-30 11:14] #205 closed

[2016-04-30 11:14] lpil commented on #205
I'll release a new version now.

[2016-04-30 11:16] toupeira commented on #205
Well, that was quick :grinning: Thanks!

[2016-04-30 11:16] lpil commented on #205
:)

[2016-04-30 11:32] toupeira commented on #205
With a module it seems the message gets lost somehow:

[code]

[code]

Also I saw that `Dogma.Reporter.FlyCheck#format_error` hard-codes the errors as warnings, can this be changed so syntax errors output `E`? In return I'll submit a PR for basic syntastic.vim integration :)

[2016-04-30 11:35] lpil commented on #205
So it does, how interesting. We need to add a test that asserts syntax errors are formatted and printed correctly, and then this to be implemented. Please do open a ticket :)

[2016-05-01 12:23] #204 closed

[2016-05-03 14:26] KronicDeth opened #208 "Dogma.Rule.TakenName does not handle def unquote(name)(...)"
## Error

[code]

## Code

[code]

Line 266 is `def unquote(quoted_name)(conn, params) do`

[2016-05-03 14:45] lpil commented on #208
Thanks :)

[2016-05-06 16:32] somlor opened #209 ""Useless" string interpolation detected in a Regex sigil"
String interpolation in a regex sigil is useful. 😄
[code]
`InterpolationOnlyString: Useless string interpolation detected.`

[2016-05-06 23:24] lpil opened #210 "Disallow use of => syntax for map literals with atoms for keys."
[code]

[2016-05-07 18:16] mgartner commented on #146
I believe this can be closed @lpil.

[2016-05-07 18:18] mgartner commented on #177
I'm assuming this means using vanilla ExUnit functions. Is that correct?

[2016-05-07 18:54] mgartner commented on #164
I believe this was fixed by: https://github.com/lpil/dogma/commit/2873ad14817349a7c12f2516b2a58d549cc32df5

[2016-05-07 21:45] KronicDeth commented on #164
I was able to re-enable the rule while on dogma `0.1.5`, so fixed me for the `@spec` usage.

[2016-05-08 13:24] lpil commented on #177
Yee. No urgency though

[2016-05-09 11:43] lpil commented on #146
Thank you.

[2016-05-09 11:43] #146 closed

[2016-05-09 13:08] lpil commented on #209
I see how that could be useful. Might I suggest `Regex.compile/2` for now? It has better error handling too.

[2016-05-09 18:20] lpil commented on #164
Thanks. I need a better way of keeping track of these issues :)

[2016-05-09 18:20] #164 closed

[2016-06-01 02:02] somlor commented on #209
@lpil thanks. And yep, `Regex.compile/2` is what I'm using for now.

[2016-06-08 14:37] ThijsWouters commented on #202
I also had this crash.

I managed to track the error down to Phoenix. On [this](https://github.com/phoenixframework/phoenix/blob/master/lib/phoenix/template.ex#L367) line, there is a variable defined called `defp`. This generates a node like `{:defp, [line: 367], nil}`. The last nil generates the crash.

[2016-06-09 08:12] #202 closed

[2016-06-16 21:59] kthelgason opened #218 "make Dogma `brew install`able"
I think that if you're willing to cut a release and make the executable available from github it's a simple matter to write a homebrew formula to make it available.

Assuming this is something you're interested in anyway 😄

[2016-07-04 07:58] sobolevn opened #219 "Configuration and ignoring via comments"
I have seen, that `dogma` has a mechanism to extract all comments from a source files: https://hexdocs.pm/dogma/Dogma.Util.Comment.html

The question is, how do we suppose to use it? I could not find any docs about it.

The way I used to do it (coming from `pylint`, `eslint` and `shellcheck`):
1. Configuration for all file in the header
2. Configuration for a single line as an inline comment (beca

[2016-07-04 08:07] lpil commented on #219
I'd like the inline comment feature :)

[2016-08-07 16:08] AndrewDryga commented on #201
The same issue occurs with different defimp in this code: https://github.com/ericmj/mongodb/blob/master/lib/bson/types.ex#L13

[2016-08-11 18:22] fazibear opened #220 "Exception against Phoenix repo."
Tried dogma against Phoenix repo and get this error:

[code]

[2016-08-11 18:32] lpil commented on #220
Looks like `Dogma.Rule.TakenName.check_name/4` needs a clause to prevent crashing when the name is a function call.

[2016-08-11 18:33] lpil commented on #220
Clone of #208

[2016-08-11 18:33] #220 closed

[2016-08-22 10:45] AndrewDryga opened #221 "Erlang terms in module name makes dogma crash"
Module
[code]

Run result
[code]

[2016-08-22 11:02] lpil commented on #221
Looks like a new clauses needs to be added to `Dogma.Rule.ModuleDoc.check_node/2` to handle this case.

[2016-09-06 15:24] #54 closed

[2016-09-12 15:37] scouten commented on #219
+1!

[2016-09-15 07:39] kthelgason opened #223 "Support column numbers in output"
This is really necessary for integration with syntax checkers such as [flycheck](https://github.com/flycheck/flycheck)

[2016-09-15 09:54] lpil commented on #223
This information is not provided by `quote`, so it will be difficult to achieve this.

[2016-09-19 05:30] mbuhot opened #224 "Nested string interpolation incorrectly treated as comment"
This following code which does not contain a comment, produces a CommentFormat warning:

[code]

[code]

Separate to the issue of weather nested string interpolation is a good idea or not, dogma should not output a `CommentFormat` warning for this code.

[2016-09-19 08:40] lpil commented on #224
Good find. Thank you.

[2016-10-01 00:22] scouten opened #225 "Function Pipe Chains must start with a bare value ... but how?"
Dogma is giving me an error on the following line ...

[code]

... but I have no idea how to convert that empty value to a bare value.

Is that even possible? If so, Dogma should suggest how to do it. If not, the error should be retracted.

[2016-10-01 12:30] lpil commented on #225
This is a bug. Dogma things that `build_conn()` has arguments!

Would you like to have a go at fixing this? :)

[2016-10-01 19:39] scouten commented on #225
OK 😄

[2016-10-01 19:44] #225 closed

[2016-10-08 18:24] StevenXL commented on #201
Not sure how I can contribute to this issue, but I am getting the same problem.

Here's a [gist](https://gist.github.com/StevenXL/7e6322bd34bc0783b3327ce6a95e23ff) of what happens when I try to run dogma on my code.

Is this even the same problem? Seems very odd to get errors from modules defined in the elixir standard library.

[2016-10-08 18:38] lpil commented on #201
That's a different issue, a crash caused by trying to convert an `unquote` expression to a string. It's a different bug for sure. Could you open another issue please @StevenXL ?

[2016-10-08 18:41] StevenXL opened #227 "Protocol.Undefined in Elixir Standard Library"
Hello.

I am trying to run dogma on my code, but the process is complaining of an unimplemented protocol within what looks like the Elixir standard library.

The [gist](https://gist.github.com/StevenXL/7e6322bd34bc0783b3327ce6a95e23ff) provides further details.

Thank you.

[2016-10-08 18:43] StevenXL commented on #201
@lpil thank you for the response. I have opened a new issue #227.

[2016-10-08 19:10] lpil commented on #227
Thank you. Is the project open source? Or could you provide that one file so I can see what it looks like?

The error is coming from line 205. I think it's a call to `def` and is unquoting some value and appending `_path` ?

[2016-10-08 19:38] #218 closed

[2016-10-08 19:39] lpil commented on #227
Ah, dupe of #208

[2016-10-08 19:39] #227 closed

[2016-10-08 22:26] #208 closed

[2016-10-08 22:59] #177 closed

[2016-10-08 23:01] lpil commented on #177
Wasn't so bad with the new `describe` block.

[2016-10-08 23:14] #178 closed

[2016-10-09 16:17] lpil opened #228 "PipelineStart: Permit starting with `++`."
[code]

[2016-10-16 21:17] lpil commented on #224
This is proving quite hard to fix in a non-hacky fashion. The preprocessor that removes strings from source code needs to be taught how to handle string interpolation, which can be infinitely nested. It'll need to have some understanding of how deeply nested it is, which is non-trivial.

Another interesting question is whether stripping strings would keep the code contents of interpolation somehow

[2016-10-16 21:25] #209 closed

[2016-10-16 21:38] #44 closed

[2016-10-16 21:48] #221 closed

[2016-10-16 22:10] mbuhot commented on #224
@lpil ignoring the `#{` "comments" would certainly suppress this warning, nice hack!

More broadly, Dogma already has opinions on correct usage of string interpolations: `Rule.InterpolationOnlyString`, `Rule.LiteralInInterpolation`.
Maybe since nested interpolation is rarely used, dogma should have a rule to disallow it?

This would still require the preprocessor be able to detect the nesting, but

[2016-10-25 20:53] #228 closed

[2016-10-30 23:34] cgiffard opened #231 "Comment rules should ignore shebang line in scripts"
Unfortunately, including a space after the comment renders the standard shebang line inoperable:

[code]

I wonder if dogma should know to ignore the first comment line if it matches the `#!` pattern.

[2016-10-31 09:45] lpil commented on #231
Sounds good. Want to make a PR?

[2016-10-31 09:50] cgiffard commented on #231
I'll look into it tomorrow! (Still relatively new to Elixir — so fair warning!) :)

[2016-10-31 11:25] lpil commented on #231
Here's a good place to look: https://github.com/lpil/dogma/blob/master/lib/dogma/rule/comment_format.ex#L29

Be sure to add a unit test!

[2016-11-01 09:58] #231 closed

[2016-11-15 03:58] techgaun opened #235 "Incorrect rule match in SpaceAfterComma"
Seems like the root cause is how `Dogma.Util.ScriptStrings` strips the string literal contents and it seems to affect `SpaceAfterComma`. If there's a code with comment that contains single double-quote, it seems to create this issue.

Below is the sample code-block that can produce this behavior:

[code]

[2016-11-15 10:04] lpil commented on #235
Thanks :)

`Dogma.Util.ScriptStrings` needs to be re-written to be honest, there's a ton of edge cases it doesn't handle correctly.

[2017-01-19 01:12] jlee0831 opened #236 "False error with ComparisonToBoolean and Ecto query?"
I created a function on an Ecto model as follows:

[code]

This caused dogma to fail with: `ComparisonToBoolean: Comparison to a boolean is pointless`. This seems to be incorrect, although perhaps theres another way of writing that query that I don't understand yet.

[2017-01-19 01:21] lpil commented on #236
Hm. In Ecto's DSL it isn't pointless it seems. Perhaps we can try and detect if we're in this DSL somehow.

[2017-01-19 17:04] jlee0831 commented on #236
It seems there is an alternative syntax, although most examples I've seen use the original syntax above. Anyhow, this seems like it is a reasonable workaround for my situation:

[code]

[2017-03-28 11:59] ChuckIrvine opened #239 "no function clause matching in Dogma.Rule.FunctionParentheses.check_function_parens/2"
Invoking dogma on the partial file:

[code]

gives:

[code]

[2017-03-28 12:30] lpil commented on #239
That file is invalid syntax, right?

I thought we guarded against that. What version are you running?

[2017-03-28 12:40] ChuckIrvine commented on #239
I’m using flycheck-dogma:

https://github.com/aaronjensen/flycheck-dogma <https://github.com/aaronjensen/flycheck-dogma>

So, the file is being checked continually as I type in code.

I’m using the latest, e.g. 0.1.14

Thanks for looking into this.

[2017-04-10 16:43] notriddle opened #240 "Dogma doesn't flag trailing whitespace in doc annotations"

[2017-04-10 17:53] lpil commented on #240
This is by design. Trailing whitespace is significant in markdown.

[2017-04-10 17:54] #240 closed

[2017-04-10 22:33] rhruiz opened #241 "Implementing the Inspect protocol causes a TakenName error"
Hello,

implementing the `Inspect` protocol for a module causes a

`TakenName: `inspect` is already taken and overrides standard library`

and I should not feel ashamed of that.

Here is a sample code that triggers the complaint:

[code]

[2017-04-10 22:44] lpil commented on #241
Some existing discussion over in https://github.com/lpil/dogma/issues/201

[2017-04-10 22:45] lpil commented on #241
I think I might just remove this rule. Thoughts?

[2017-04-10 23:17] rhruiz commented on #241
I will close this one, let's keep that in #201

Search did not find the defimpl I searching for before opening this one.

[2017-04-10 23:17] #241 closed

[2017-04-15 13:26] P-Seebauer opened #242 "taken names rule triggers inside `defimpl`"
I wrote a data structure and added an implementation for the Inspect protocol. now dogma is rasing an error, because inspect is already defined.

Minimal example:
[code]
This rasies the error `inspect is already taken and overrides the standard library [TakenName]`.

I'm not sure if `inspect` is the only keyword for that a protocol exists, but the warning is very disturbing.

[2017-04-15 15:09] lpil commented on #242
Dupe of https://github.com/lpil/dogma/issues/201

What do you think the behaviour should be?

[2017-04-15 15:09] #242 closed

[2017-04-15 22:56] P-Seebauer commented on #242
Maybe it should not trigger inside `defimpl`? I'm not very accustomed with the language yet, but it seems like this is the way to use protocols, and if I want to cater one that's in Kernel, I'll get that message.

[2017-04-16 10:22] lpil commented on #242
Sounds sensible. Would you like to have a go? :)

[2017-04-16 14:40] P-Seebauer commented on #242
I'll take a look, but it might change the rule implementation fundamentally.

Also, if someone uses `@defdelegate` inside implementations (e.g. for `to_string`) it still seems odd.

[code]

This would make `ACME.Name.to_string/1` accessible from outside (like it is with `Atom.to_string/1`): But inside the `ACME.Name` module, you can't use Kernel's `to_string` in bare form (and the compile fails if

[2017-04-16 14:57] lpil commented on #242
It shouldn't be too hard to add a function clause that when a `defimpl` is encountered the AST is truncated to prevent any further traversal. Effectively preventing checking inside the `defimpl`. :)

[2017-04-16 18:27] P-Seebauer commented on #242
I wish I had seen this more early, now I'm deep in `Macro.traverse/4`…

Is there a reason, why the list is written by hand? It seems to me that it could be constructed automatically with something like
[code]

[2017-04-16 18:45] lpil commented on #242
No particular reason. :)

[2017-04-16 19:45] P-Seebauer commented on #242
Would you mind if I create a pull request with my additions? It would only allow the functions to be defined that are to be implemented for a protocol.

I had to fall back to `Macro.traverse`, but I hope the code isn't that hard to digest.

[2017-04-16 19:48] lpil commented on #242
Please do!

[2017-05-12 19:21] mpiercy827 opened #244 "TakenName error for unquote inside macro."
I'm creating a macro that will time a function call and send that data to a StatsD server, but I'm running into an issue when running dogma, because the I'm calling `unquote` on the function head. Here's the outline of my code:

[code]

And the Dogma error I'm getting:

[code]

[2017-08-08 09:12] craigp opened #246 "Ignore "Should be n spaces after comma" in comments"
Specifically this shows up for me if I set my `foldermarker` in a vim modeline:

[code]

[2017-08-31 16:39] jeffrom commented on #224
Here's another example that causes this:

[code]

[2017-09-30 04:10] yury-dymov opened #247 "PipelineStart issue"
[code]

[2017-10-06 20:31] pmelnichuk opened #248 "Phoenix clean install 143 files, 835 errors"
disclaimer: I'm an elixir noob. New to the elixir community but trying to maintain a clean repo from the start.

Looks like phoenix from the base install fails miserably. is this normal?

Generated dogma app
Inspecting 143 files.

XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX...XXX.X...X.XXX...X....X..X...XX.XXX.X.X.XXXXX.X.XXXXXX.XXX.X.XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX

143 files, 835 errors!

[2017-10-07 12:37] lpil commented on #248
Phoenix doesn't adhere to the style specified by Dogma, however that does seem like a lot of files. Is it checking your deps, perhaps?

[2017-10-20 13:45] rhnonose commented on #248
It's suddenly checking inside `assets` folder (I recall not checking before, not sure).

[2017-10-24 09:47] lpil commented on #248
We have always checked any director called `assets` https://github.com/lpil/dogma/blob/426845e14cdb11a06561702c0a0fd61578205f6e/lib/dogma/script_sources.ex#L9

The difference now is likely that Phoenix 1.3 creates a directory called `assets` with NPM deps in it.

I would welcome a pull request that made Dogma ignore the `node_modules` directory.

[2017-10-24 09:50] lpil commented on #247
This should be very easy to fix :)

https://github.com/lpil/dogma/blob/master/lib/dogma/rule/pipeline_start.ex#L45

[2017-12-17 17:45] axelson opened #252 "Disable rule for file"
Is it possible to disable a specific rule for a single file? Ideally with a comment at the top of the file.

[2017-12-18 09:18] elridion opened #253 "TrailingWhitespace in blank Lines"
It would be nice if trailing whitespaces in blank lines could be ignored.
Either by making the behaviour for this specific case configurable **or** by making the `regex` overwrite-able.

[2018-01-20 10:00] peterrudenko opened #255 "Dogma fails on parsing scripts"
Running `mix dogma` gives me this (happens only on my Linux machine, where I have Elixir 1.7):

[code]

`elixir --version`:
[code]
Dogma version `0.1.16`

[2018-01-20 10:19] lpil commented on #255
The format of the AST metadata recently changed, causing this crash. With the new v1.6 formatter I don't think Dogma has anything to offer and has been deprecated, so I'm afraid I'm not going to be fixing this.

[2018-01-20 10:25] peterrudenko commented on #255
Thanks for the answer, I just noticed your announcement in readme.

[2018-01-20 10:25] #255 closed, assigned to nobody

[2018-01-20 10:27] lpil commented on #255
Thank you :)

[2018-02-20 23:24] #11 closed

[2018-02-20 23:24] #159 closed

[2018-02-20 23:24] #160 closed

[2018-02-20 23:24] #161 closed

[2018-02-20 23:24] #169 closed

[2018-02-20 23:24] #170 closed

[2018-02-20 23:24] #175 closed

[2018-02-20 23:24] #185 closed

[2018-02-20 23:24] #186 closed

[2018-02-20 23:24] #188 closed

[2018-02-20 23:24] #189 closed

[2018-02-20 23:24] #193 closed

[2018-02-20 23:24] #201 closed

[2018-02-20 23:24] #210 closed

[2018-02-20 23:24] #219 closed

[2018-02-20 23:24] #223 closed

[2018-02-20 23:24] #224 closed

[2018-02-20 23:24] #235 closed

[2018-02-20 23:24] #236 closed

[2018-02-20 23:24] #239 closed

[2018-02-20 23:24] #244 closed

[2018-02-20 23:24] #246 closed

[2018-02-20 23:24] #247 closed

[2018-02-20 23:24] #248 closed

[2018-02-20 23:24] #252 closed

[2018-02-20 23:24] #253 closed

[2018-02-20 23:25] #23 closed

[2018-02-20 23:25] #25 closed

[2018-02-20 23:25] #30 closed

[2018-02-20 23:25] #56 closed

[2018-02-20 23:25] #59 closed

[2018-02-20 23:25] #77 closed

[2018-02-20 23:25] #81 closed

[2018-02-20 23:25] #84 closed

[2018-02-20 23:25] #100 closed

[2018-02-20 23:25] #104 closed

[2018-02-20 23:25] #109 closed

[2018-02-20 23:25] #131 closed

[2018-02-20 23:25] #142 closed

[2018-02-20 23:25] #144 closed

[2018-02-20 23:25] #151 closed

[2018-02-20 23:25] #152 closed

[2018-02-20 23:25] #158 closed

[2020-01-27 08:51] vukanac opened #257 "Old dependencies, warnings, unable to run `mix dogma`"
Received several warnings, but at the end didn't finish successfully:

[code]

By adding `config/dogma.exs` helped partially, but still:

[code]

[2020-01-27 20:04] lpil commented on #257
Hi there. Thanks for trying it bu this project is deprecated and no longer maintained! I recommend using the Elixir formatter instead.

[2020-01-27 20:04] #257 closed, assigned to nobody

[2021-04-19 21:23] dolfinus opened #258 "Making the repo archived"
Hello.

Github has an option to mark repo as archived. This means that nobody can create new pull requests or issues, no new commits can be pushed as well as releases. The repo will remain accessible for reading and cloning, but that's all.

This is the perfect solution for deprecated repos. What do you think about this?

[2021-04-21 08:04] lpil commented on #258
Good idea, thank you